main {
  max-width: 1020px;
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

main h1 {
  font-size: 5rem;
  color: white;
  margin-bottom: 3rem;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
}

.input {
  margin-bottom: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-container input {
  padding: 0rem 3rem;
  background-color: none;
  border: none;
  border-radius: 10px 0px 0px 10px;
  height: 47px;
  width: 50%;
  outline: none;
}

::placeholder {
  font-size: 1.6rem;
}

.add-task-btn {
  padding: 1rem 3rem;
  background-color: none;
  border: none;
  font-size: 1.8rem;
  font-weight: 600;
  color: white;
  background-color: rgb(42, 160, 42);
  border-radius: 10px;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.task {
}

.task.done {
  transition: all 0.3s ease;
  position: relative;
  color: #999;
}

.task.done:before {
  content: "";
  position: absolute;
  width: 100%;
  left: 0;
  height: 2px;
  top: 50%;
  background-color: #333;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

ul li {
  background-color: white;
  padding: 1.5rem;
  list-style: none;
  margin-bottom: 1rem;
  border-radius: 10px;
  width: 62%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 1.8rem;
}

.btns{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.btns button {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  color: white;
  padding: 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;

 margin-right: 0.5rem;
  
}

.btns .done-btn {
  background-color: rgb(21, 165, 21);
}

.btns .remove-btn {
  background-color: rgb(197, 52, 52);
}

.add-task-btn:hover,
.btns .done-btn:hover {
  background-color: rgb(12, 124, 12);
}

.btns .remove-btn:hover {
  background-color: rgb(124, 21, 21);
}

.btns .up-btn{
  background-color: rgb(51, 51, 185);
}

.btns .down-btn{
  background-color: rgb(127, 66, 184);
}

@media screen and (max-width: 670px) {
  .group-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
  }
  ul li{
    flex-direction: column;
  }
  .btns button{
    width: 50%;
    
    margin-block: 0.5rem;
  }

  
}

@media screen and (max-width: 440px) {
  
  .btns{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  ul li{
    flex-direction: column;
  }
  .btns button{
    width: 50%;
    
    margin-block: 0.5rem;
  }

  
}